:root {
  padding: 0;
  margin: 0;
 
}
body {
  font-family: "inter";
  color: black;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.header{
  background-color:#f55a5a;
  color: #fff;
  padding: 1.2rem;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:14px
}

.earth-icon {
  width: 40px;
  height: 40px;
}